.body { 
    margin: 0;
    height: 1500px;
    padding: 20px;
}

.html { 
    margin: 0;
}
* { 
    box-sizing: border-box;
}
.code { 
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    display: flex;
    position: relative;
    margin-left: 20px ;
    font-size: 12px;
    box-sizing: border-box;
}
.code:after {
    display: block;
    content: "";
    width: 10px;
    height: 1px;
    background: black;
    position: absolute;
    top: 50%;
    left: -7%;
    transform: translateY(-50%);
}
.code:before {
    display: flex;
    content: "-";
    width: 10px;
    height: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: absolute;
    line-height: 10px;
    top:50%;
    left: -22px;
    transform: translateY(-50%);

}
