body {
    background: url(https://sun9-31.userapi.com/impg/0DF6TByrj9a4hiPtQHoTRP8gFe7_2KRTDYi3Ig/3zWrzPkYL00.jpg?size=1080x703&quality=96&sign=63d144794c78e1a1ea50affdb78a6dd0&type=album) no-repeat;
    background-size: 100%;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    color:rgb(253, 253, 253);
    margin-right: 40px;
    font-weight: normal;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Luxurious Script', cursive;
    font-family: 'Smooch', cursive;
}
header {
    display: flex;
    justify-content: center;
}
.all_menu, li {
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
}
.photograf_name, .all_menu {
    margin-right: 25px;
    display: inline-block;

}
.all_menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

.all_menu a:hover{
    color:paleturquoise
}
.img1 {
    border: 20px;
    padding: 50px 20px;
    
}